@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300;500;600&display=swap');

:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  --black: #121212;
  --purple: #8e2de2;
  --soft-white: #FFFFFF90;
  --soft-black: color: rgba(0, 0, 0, 0.5);
}

* {
  font-family: 'Poppins', monospace, sans-serif;
  color: var(--soft-black);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--black);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-weight: 600;
}

input, select {
  outline: none;
  font-size: 0.9rem;
  background-color: var(--soft-white);
  border: none;
  border-radius: 8px;
  padding: 1rem;
  color: var(--soft-black);
}

input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 400;
  background-color: var(--purple);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--soft-white);
}

button:focus,
button:focus-visible {
  outline: 0;
  color: var(--soft-white);
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: var(--soft-white);
  }
  a:hover {
    color: var(--purple);
  }
  button {
    background-color: var(--soft-white);
  }
}